[Unit]
Description=static-server-in-dir.service
After=network.target

[Service]
Type=simple
WorkingDirectory=/tmp
Environment=RUBY_HTTP_SERVER=="-rwebrick -e'WEBrick::HTTPServer.new(:Port => 8000, :DocumentRoot => Dir.pwd).start'"
ExecStart = /usr/bin/ruby $RUBY_HTTP_SERVER
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
