[Unit]
Description=static-server-in-dir.service
After=network.target

[Service]
Type=simple
ExecStart = /bin/bash -lc "cd $HTTP_SERVER_DIR && ruby -rwebrick -e'WEBrick::HTTPServer.new(:Port => 8000, :DocumentRoot => Dir.pwd).start'"
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
